In [2]:
# Importing necessary libraries
import numpy as np
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, precision_recall_curve, auc
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.ensemble import BalancedRandomForestClassifier, EasyEnsembleClassifier
from sklearn.linear_model import LogisticRegression
from imblearn.combine import SMOTEENN
from collections import Counter
# Create the ANN model
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping  # Import EarlyStopping
from tensorflow.keras import regularizers
from tensorflow.keras.activations import relu
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import LeakyReLU

model = Sequential()

In [4]:
df = pd.read_csv(r"C:\Users\moatz\Desktop\rental_info.csv")

In [5]:
df['return_date'] = pd.to_datetime(df['return_date'])
df['rental_date'] = pd.to_datetime(df['rental_date'])
df['rental_length_days']=df['return_date']-df['rental_date'] 
df['rental_length_days']=df['return_date']-df['rental_date'] 
df['rental_length_days']=df['rental_length_days'].dt.days

In [6]:
df["deleted_scenes"] =  np.where(df["special_features"].str.contains("Deleted Scenes"), 1, 0)
# Add dummy for behind the scenes
df["behind_the_scenes"] =  np.where(df["special_features"].str.contains("Behind the Scenes"), 1, 0)

In [7]:
df.drop(['rental_date', 'return_date', 'special_features'], axis="columns", inplace=True)

In [8]:
df

,amount,release_year,rental_rate,length,replacement_cost,NC-17,PG,PG-13,R,amount_2,length_2,rental_rate_2,rental_length_days,deleted_scenes,behind_the_scenes
0,2.99,2005.0,2.99,126.0,16.99,0,0,0,1,8.9401,15876.0,8.9401,3,0,1
1,2.99,2005.0,2.99,126.0,16.99,0,0,0,1,8.9401,15876.0,8.9401,2,0,1
2,2.99,2005.0,2.99,126.0,16.99,0,0,0,1,8.9401,15876.0,8.9401,7,0,1
3,2.99,2005.0,2.99,126.0,16.99,0,0,0,1,8.9401,15876.0,8.9401,2,0,1
4,2.99,2005.0,2.99,126.0,16.99,0,0,0,1,8.9401,15876.0,8.9401,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15856,6.99,2009.0,4.99,88.0,11.99,0,0,0,1,48.8601,7744.0,24.9001,6,1,1
15857,4.99,2009.0,4.99,88.0,11.99,0,0,0,1,24.9001,7744.0,24.9001,4,1,1
15858,8.99,2009.0,4.99,88.0,11.99,0,0,0,1,80.8201,7744.0,24.9001,9,1,1
15859,7.99,2009.0,4.99,88.0,11.99,0,0,0,1,63.8401,7744.0,24.9001,8,1,1
15860,5.99,2009.0,4.99,88.0,11.99,0,0,0,1,35.8801,7744.0,24.9001,6,1,1

In [9]:
X=df.drop(['rental_length_days'],axis=1)
y=df['rental_length_days']

In [10]:
# Import the scaling module
from sklearn.preprocessing import StandardScaler

# Create a scaler object
scaler = StandardScaler()

inputs_scaled=scaler.fit_transform(X)

In [11]:
# Import the module for the split
from sklearn.model_selection import train_test_split

# Split the variables with an 80-20 split and some random state
# To have the same split as mine, use random_state = 365
x_train, x_test, y_train, y_test = train_test_split(inputs_scaled, y, test_size=0.2, random_state=365)

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
model = LinearRegression()

# Train the model on the training data
model.fit(x_train, y_train)

# Make predictions on the test data
y_pred = model.predict(x_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
r2 = r2_score(y_test, y_pred)  # R-squared score

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 2.916947941357664
R-squared: 0.5979775530635872

In [13]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model to the training data
rf.fit(x_train, y_train)

# Make predictions
y_pred = rf.predict(x_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 2.039200443841836
R-squared: 0.7189513255949491

In [15]:
# Create the ANN model
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping  # Import EarlyStopping

model = Sequential()

# Input layer and hidden layers
model = Sequential()
model.add(Dense(123, input_shape=(x_train.shape[1],), activation="relu",kernel_regularizer=regularizers.l2(0.01)))
BatchNormalization(),
model.add(Dense(56, activation="relu",kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.3))
model.add(Dense(16, activation="relu"))  
model.add(Dense(8, activation="relu"))   
model.add(LeakyReLU(alpha=0.01))

# Output layer
model.add(Dense(1))  # Single output value (sales prediction)

# Compile the model
model.compile(loss='mse', optimizer='adam', metrics=['mae','mse'])

# Train the model


early_stopping = EarlyStopping(monitor='val_loss', patience=20)

history = model.fit(
    x_train,
    y_train,
    epochs=5000,
    batch_size=4,
    validation_split=0.2,
    callbacks=[early_stopping],
    verbose=1
)

# Make predictions
y_pred = model.predict(x_test)

# Evaluate model performance (on test set)
mse = model.evaluate(x_test, y_test)  # Corrected variable name
print(f'Mean Squared Error: {mse}')

# Print predictions and actual values
print("Predicted Sales:", y_pred.flatten())
print("Actual Sales:", y_test.values)

C:\Users\moatz\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
C:\Users\moatz\anaconda3\Lib\site-packages\keras\src\layers\activations\leaky_relu.py:41: UserWarning: Argument `alpha` is deprecated. Use `negative_slope` instead.
  warnings.warn(

Epoch 1/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 15s 4ms/step - loss: 6.0816 - mae: 1.8031 - mse: 5.2719 - val_loss: 3.1678 - val_mae: 1.3316 - val_mse: 2.7066
Epoch 2/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 9s 3ms/step - loss: 3.1696 - mae: 1.3624 - mse: 2.7587 - val_loss: 2.7622 - val_mae: 1.2899 - val_mse: 2.4856
Epoch 3/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 8s 3ms/step - loss: 2.8932 - mae: 1.3320 - mse: 2.6437 - val_loss: 2.5906 - val_mae: 1.2637 - val_mse: 2.4087
Epoch 4/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 9s 4ms/step - loss: 2.6463 - mae: 1.2909 - mse: 2.4788 - val_loss: 2.6013 - val_mae: 1.2789 - val_mse: 2.4657
Epoch 5/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 8s 3ms/step - loss: 2.6377 - mae: 1.3049 - mse: 2.5099 - val_loss: 2.5067 - val_mae: 1.2638 - val_mse: 2.3977
Epoch 6/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 12s 4ms/step - loss: 2.6099 - mae: 1.3038 - mse: 2.5043 - val_loss: 2.5844 - val_mae: 1.2924 - val_mse: 2.4890
Epoch 7/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 8s 3ms/step - loss: 2.6222 - mae: 1.3062 - mse: 2.5297 - val_loss: 2.5742 - val_mae: 1.2795 - val_mse: 2.4867
Epoch 8/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 8s 3ms/step - loss: 2.5577 - mae: 1.2964 - mse: 2.4736 - val_loss: 2.5061 - val_mae: 1.2673 - val_mse: 2.4242
Epoch 9/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 8s 3ms/step - loss: 2.5719 - mae: 1.2914 - mse: 2.4915 - val_loss: 2.6424 - val_mae: 1.3086 - val_mse: 2.5681
Epoch 10/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 10s 4ms/step - loss: 2.5167 - mae: 1.2849 - mse: 2.4397 - val_loss: 2.4910 - val_mae: 1.2689 - val_mse: 2.4154
Epoch 11/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 8s 3ms/step - loss: 2.5291 - mae: 1.2875 - mse: 2.4535 - val_loss: 2.6083 - val_mae: 1.3043 - val_mse: 2.5347
Epoch 12/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 9s 3ms/step - loss: 2.5385 - mae: 1.2809 - mse: 2.4654 - val_loss: 2.5553 - val_mae: 1.2878 - val_mse: 2.4831
Epoch 13/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 8s 3ms/step - loss: 2.4648 - mae: 1.2676 - mse: 2.3933 - val_loss: 2.4949 - val_mae: 1.2661 - val_mse: 2.4218
Epoch 14/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 10s 3ms/step - loss: 2.5412 - mae: 1.2878 - mse: 2.4696 - val_loss: 2.5022 - val_mae: 1.2747 - val_mse: 2.4328
Epoch 15/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 8s 3ms/step - loss: 2.5044 - mae: 1.2750 - mse: 2.4326 - val_loss: 2.5001 - val_mae: 1.2704 - val_mse: 2.4293
Epoch 16/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 8s 3ms/step - loss: 2.4901 - mae: 1.2702 - mse: 2.4179 - val_loss: 2.4984 - val_mae: 1.2652 - val_mse: 2.4269
Epoch 17/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 9s 3ms/step - loss: 2.4856 - mae: 1.2739 - mse: 2.4151 - val_loss: 2.4922 - val_mae: 1.2706 - val_mse: 2.4208
Epoch 18/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 9s 3ms/step - loss: 2.4922 - mae: 1.2721 - mse: 2.4201 - val_loss: 2.4632 - val_mae: 1.2631 - val_mse: 2.3914
Epoch 19/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 8s 3ms/step - loss: 2.4958 - mae: 1.2732 - mse: 2.4225 - val_loss: 2.5867 - val_mae: 1.2848 - val_mse: 2.5145
Epoch 20/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 10s 4ms/step - loss: 2.4274 - mae: 1.2507 - mse: 2.3549 - val_loss: 2.4876 - val_mae: 1.2665 - val_mse: 2.4152
Epoch 21/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 9s 4ms/step - loss: 2.5010 - mae: 1.2743 - mse: 2.4276 - val_loss: 2.4948 - val_mae: 1.2700 - val_mse: 2.4216
Epoch 22/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 10s 3ms/step - loss: 2.5126 - mae: 1.2769 - mse: 2.4393 - val_loss: 2.5330 - val_mae: 1.2709 - val_mse: 2.4595
Epoch 23/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 12s 4ms/step - loss: 2.4551 - mae: 1.2590 - mse: 2.3818 - val_loss: 2.5739 - val_mae: 1.2841 - val_mse: 2.5006
Epoch 24/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 10s 4ms/step - loss: 2.4444 - mae: 1.2573 - mse: 2.3706 - val_loss: 2.4834 - val_mae: 1.2632 - val_mse: 2.4097
Epoch 25/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 10s 4ms/step - loss: 2.4243 - mae: 1.2533 - mse: 2.3503 - val_loss: 2.5016 - val_mae: 1.2687 - val_mse: 2.4268
Epoch 26/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 12s 4ms/step - loss: 2.4653 - mae: 1.2608 - mse: 2.3912 - val_loss: 2.5009 - val_mae: 1.2681 - val_mse: 2.4275
Epoch 27/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 13s 5ms/step - loss: 2.4058 - mae: 1.2455 - mse: 2.3322 - val_loss: 2.5079 - val_mae: 1.2774 - val_mse: 2.4341
Epoch 28/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 17s 4ms/step - loss: 2.5145 - mae: 1.2792 - mse: 2.4401 - val_loss: 2.4823 - val_mae: 1.2656 - val_mse: 2.4065
Epoch 29/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 9s 4ms/step - loss: 2.4899 - mae: 1.2743 - mse: 2.4139 - val_loss: 2.6244 - val_mae: 1.3133 - val_mse: 2.5511
Epoch 30/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 9s 4ms/step - loss: 2.4366 - mae: 1.2563 - mse: 2.3625 - val_loss: 2.6327 - val_mae: 1.3109 - val_mse: 2.5588
Epoch 31/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 10s 4ms/step - loss: 2.4700 - mae: 1.2681 - mse: 2.3961 - val_loss: 2.6417 - val_mae: 1.3178 - val_mse: 2.5685
Epoch 32/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 20s 4ms/step - loss: 2.4294 - mae: 1.2468 - mse: 2.3559 - val_loss: 2.4769 - val_mae: 1.2694 - val_mse: 2.4050
Epoch 33/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 8s 3ms/step - loss: 2.4924 - mae: 1.2697 - mse: 2.4201 - val_loss: 2.5376 - val_mae: 1.2919 - val_mse: 2.4666
Epoch 34/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 11s 4ms/step - loss: 2.4470 - mae: 1.2532 - mse: 2.3750 - val_loss: 2.5361 - val_mae: 1.2818 - val_mse: 2.4636
Epoch 35/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 20s 4ms/step - loss: 2.4678 - mae: 1.2649 - mse: 2.3962 - val_loss: 2.6277 - val_mae: 1.3133 - val_mse: 2.5562
Epoch 36/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 12s 4ms/step - loss: 2.5012 - mae: 1.2707 - mse: 2.4293 - val_loss: 2.5288 - val_mae: 1.2808 - val_mse: 2.4579
Epoch 37/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 10s 4ms/step - loss: 2.4115 - mae: 1.2449 - mse: 2.3402 - val_loss: 2.4840 - val_mae: 1.2691 - val_mse: 2.4116
Epoch 38/5000
2538/2538 ━━━━━━━━━━━━━━━━━━━━ 10s 4ms/step - loss: 2.4153 - mae: 1.2479 - mse: 2.3429 - val_loss: 2.6336 - val_mae: 1.2964 - val_mse: 2.5612
100/100 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step
100/100 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.6862 - mae: 1.3128 - mse: 2.6138
Mean Squared Error: [2.6349871158599854, 1.3009535074234009, 2.5626537799835205]
Predicted Sales: [2.2127721 2.363192  5.428241  ... 5.7364078 2.213985  6.537085 ]
Actual Sales: [3 0 4 ... 8 3 7]

In [16]:
r2 = r2_score(y_test, y_pred)
print(f"R-squared: {r2}")

R-squared: 0.6468073129653931

In [ ]:
print("Predicted Sales:", y_pred.flatten())
print("Actual Sales:", y_test.values)

In [66]:
pd.DataFrame({'Predicted Sales': y_pred.flatten(),'Actual Sales':y_test.values})

      Predicted Sales  Actual Sales
0            2.957545             3
1            3.417367             0
2            4.586077             4
3            2.527959             6
4            7.933076             8
...               ...           ...
3168         2.390293             1
3169         7.357182             7
3170         4.618639             8
3171         4.280032             3
3172         6.348597             7

[3173 rows x 2 columns]

In [20]:
from xgboost import XGBRegressor
model = XGBRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
model.fit(x_train, y_train)

# Predict and evaluate
y_pred = model.predict(x_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R² Score: {r2:}")

Mean Squared Error: 2.39
R² Score: 0.6701204180717468

In [27]:
import pickle
with open(r'C:\Users\moatz\Desktop\New folder/model_pickle.pkl', 'wb') as file:
    pickle.dump(model, file)

In [30]:


with open(r'C:\Users\moatz\Desktop\New folder/model_pickle.pkl','rb') as file:
    mp = pickle.load(file)